@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

.pointer{
    cursor: pointer;
}

/* Navbar */

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    position: fixed;
    font-family: "Roboto", sans-serif;
    width: 100%;
    padding: 10px 0;
    z-index: 999;
}

.start-nav{
    font-size: 20px;
}

.start-nav h1{
    color: black;
    text-decoration: none;
    font-family: cursive;
}

.start-nav h1{
    transition: transform 0.5s;
}

.start-nav h1:hover{
    transform: scale(1.2);
}

.center-nav{
    display: flex;
    gap: 50px;
    align-items: center;
}

.center-nav>div{
    display: flex;
    align-items: center;
}

.center-nav input{
    height: 30px;
    width: 250px;
    border-radius: 20px 0 0 20px;
    border: none;
    outline: none;
    padding: 0 8px;
    border: 1px solid gray;
    position: relative;
}

.center-nav i{
    background-color: white;
    padding: 7px;
    border-radius: 0 20px 20px 0;
    border: 1px solid gray; 
}

.center-nav a{
    color: black;
    text-decoration: none;
}

.center-nav a:hover{
    color: rgb(255, 191, 0);
}

#search-result{
    display: block;
    position: absolute;
    width: 20%;
    max-height: 200px;
    background-color: white;
    left: 800px;
    top: 60px;
    overflow: hidden;
    overflow-y: scroll;
}

.outer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px;
    border: 2px solid black;
    padding: 2px;
}

.inner-img{
    width: 80px;
    height: 50px;
}

.inner-img img{
    width: 100%;
    height: 100%;
}

.inner-text{
    text-align: right;
}

.inner-text span{
    font-weight: bold;
}

.last-nav{
    display: flex;
    gap: 30px;
    align-items: center;
}

.last-nav i{
    height: 100%;
    width: 60%;
    font-size: 30px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid black;
}

.last-nav i:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    padding: 16px;
    font-size: 16px;
}

.content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

.content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.content a:hover {
    background-color: rgb(255, 191, 0);
}

.dropdown:hover .content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: white;
    color: black;
}

.fa-book:hover{
    background-color: white;
    color: black;
}

.badge{
    position: relative;
}

.badge p{
    position: absolute;
    top: -8px;
    left: 35px;
    background-color: rgb(255, 191, 0);
    color: black;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    font-size: 14px;
    padding: 2px;
    font-weight: bold;
}

/* Top section 1 */

.top-section-1{
    background-image: url('../Images/routes-banner-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
    height: 745px;
}

.top-section-1>div{
    margin: 100px 0;
    text-align: center;
    font-size: 35px;
}

.top-section-1 span{
    color: rgb(255, 191, 0);
    font-family: cursive;
}

/* Mid section 1 */

.mid-section-1>h1{
    margin: 100px 100px 10px 100px;
    font-size: 50px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

.filter{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 100px;
}

.filter select{
    width: 200px;
    height: 40px;
    background-color: white;
    color: black;
    font-weight: bold;
}

.filter option:first-child{
    font-weight: bold;
}

#search-input1{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid black;
    padding: 0 20px;
    font-size: 15px;
    font-weight: 500;
}

.parent-routes{
    display: grid;
    grid-template-columns: repeat(3,32%);
    margin: 50px 100px;
    gap: 20px;
}

.child-routes{
    border-radius: 20px;
    box-shadow: 0 0 5px gray;
    background: linear-gradient(rgb(255, 247, 0),rgb(189, 182, 85));
    overflow: hidden;
}

.child-routes>div:last-child{
    padding: 20px;
    background: linear-gradient(rgb(255, 247, 0),rgb(189, 182, 85));
    border-radius: 0 0 20px 20px;
}

.child-routes>div{
    overflow: hidden;
}

.child-routes img{
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0 0;
    transition: transform 1s;
    object-fit: cover;
}

.child-routes img:hover{
    transform: scale(1.2);
}

.child-routes h1{
    line-height: 1;
    word-spacing: 3;
    margin-bottom: 15px;
    font-size: 25px;
}

.child-routes p{
    line-height: 1;
    word-spacing: 5;
    margin-bottom: 10px;
    font-weight: 100;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.child-routes span{
    line-height: 1;
    white-space: 5;
    font-weight: bold;
    display: block;
    margin-bottom: 10px
}

.pagination{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
    align-items: center;
    font-weight: bold;
}

.pagination>div{
    display: flex;
    gap: 20px;
}

.pagination button{
    border: none;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 150px;
    font-size: 20px;
}

.pagination button:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}

.pagination p{
    border: 1px solid gray;
    padding: 10px;
}
/* Footer */
/* Bottom section 1 */

.bottom-section-1{
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    margin: 0 100px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
}

.bottom-section-1>div{
    width: 33%;
}

.bottom-section-1 h1{
    font-family: cursive;
    font-size: 40px;
    margin-bottom: 10px;
}

.bottom-section-1 button{
    width: 250px;
    height: 40px;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-weight: bolder;
    border: none;
    margin-bottom: 10px;
    font-size: 20px;
}

.bottom-section-1 button:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}

.bottom-section-1 h3{
    font-size: 30px;
    margin-bottom: 5px;
    font-family: cursive;
}

.bottom-section-1>div>div{
    margin-bottom: 30px;
}

.bottom-section-1 p{
    line-height: 1.3;
}

.bottom-section-1 p:hover{
    color: rgb(255, 191, 0);
}

/* Bottom section 2 */

.bottom-section-2{
    display: flex;
    justify-content: space-around;
    margin: 50px 100px;
    font-size: 20px;
    align-items: center;
}

.bottom-section-2>div{
    display: flex;
    gap: 30px;
    align-items: center;
}

.bottom-section-2 i{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 50%;
}

.bottom-section-2 i:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}